@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Database App</h1>
    <p>This will be my first expereince with the built in database tools in MVC. The CustomerList page will deisplay what is currently in the Database.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Page Links</h2>
        <p>
            <ul>
                @Html.ActionLink("Dsiplay Customers", "CustomerList")
            </ul>
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>